/** @format */
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: sans-serif;
}
.hero {
  background-image: url("1.jpg");
  padding-bottom: 400px;
  background-size: cover;
  background-position: center bottom;
}
.phone {
  background-image: url("phone.jpg");
  padding-bottom: 700px;
  background-size: cover;
  background-position: center bottom;
  color: white;
  background-color: #32283b;
}
